<h1>Terminübersicht</h1>

<p class="lead">Für folgende Termine bist du Organisator:</p>

<table class="table">
    <thead>
    <tr>
        <th>Datum</th>
        <th>Beschreibung</th>
        <th>Teilnehmer</th>
    </tr>
    </thead>
    <tbody>
    <tr data-ng-repeat="termin in termine">
        <td>{{termin.date}}</td>
        <td>{{termin.summary}}</td>
        <td><p data-ng-repeat="invite in termin.invitations">{{invite.email}}</p></td>
    </tr>
    </tbody>
</table>

<a href="#/termine/neu">Neue Termin erstellen...</a>